/* variables */
/* media query break points */
/* 1280px  */
/* 1024px */
/* 748px */
/* 480px */
.serif-font {
  font-family: 'Droid Serif', serif;
}
.sans-serif-font {
  font-family: 'Open Sans', sans-serif;
}
.zero-margin {
  margin: 0;
}
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* usage: .font-face('iconset', 'fonts'); */
/* Fonts */
@font-face {
  font-family: 'dejavusansmono';
  src: url('../fonts/dejavusansmono/webfont.eot');
  src: url('../fonts/dejavusansmono/webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dejavusansmono/webfont.woff') format('woff'), url('../fonts/dejavusansmono/webfont.ttf') format('truetype'), url('../fonts/dejavusansmono/webfont.svg#dejavusansmono') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iconset';
  src: url('../fonts/iconset/webfont.eot');
  src: url('../fonts/iconset/webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconset/webfont.woff') format('woff'), url('../fonts/iconset/webfont.ttf') format('truetype'), url('../fonts/iconset/webfont.svg#iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  font-weight: 400;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 100%;
  line-height: 150%;
}
body {
  font-size: 1em;
}
h1 {
  /*margin: 1.4rem 0;*/
  margin: 1rem 0;
  font-family: 'Droid Serif', serif;
  font-size: 2rem;
  font-weight: 400;
}
h2 {
  /*margin: 1.26rem 0;*/
  margin: 1rem 0;
  font-family: 'Droid Serif', serif;
  font-size: 1.8rem;
  font-weight: 400;
}
h3 {
  /*margin: 1.12rem 0;*/
  margin: 1rem 0;
  font-family: 'Droid Serif', serif;
  font-size: 1.6rem;
  font-weight: 400;
}
h4 {
  /*margin: .98rem 0;*/
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: normal;
}
h5 {
  /*margin: .85rem 0;*/
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: normal;
}
h6 {
  font-size: 1rem;
  /*margin: .7rem 0;*/
  margin: 1rem 0;
  font-weight: normal;
}
p {
  margin: .75rem 0;
}
header,
.main,
footer {
  padding: 1em;
  width: 100%;
}
header {
  background-color: #f1f1f1;
}
footer {
  background-color: #f1f1f1;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
i[data-icon] {
  font-family: dejavusansmono, Helvetica, Arial, sans-serif;
  display: block;
  font-size: 2rem;
  line-height: 2.4rem;
}
/* media queries */
.colgroup {
  zoom: 1;
  margin-left: -1em;
  margin-right: -1em;
}
/* clearfix solution */
.colgroup:before,
.colgroup:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.colgroup:after {
  clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  min-height: 1px;
  padding-left: 1em;
  padding-right: 1em;
  float: left;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.index header,
.index footer {
  text-align: center;
}
.index .main-content {
  position: relative;
  min-height: 1px;
  padding-left: 1em;
  padding-right: 1em;
  float: left;
  width: 75%;
  margin: 0 auto;
  float: none;
}
.index a,
.index a:visited {
  color: #449;
}
.index .wof {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.index .wof .spinner {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 500px;
  /* background-image: conic-gradient(#86AD00 10%, #0092B9 20%, #F2B705 30%, #D97904 40%, #b30 50%, #86AD00 60%, #0092B9 70%, #F2B705 80%, #D97904 90%, b30 0); */
  background-image: url(../img/pie.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  /*
			-webkit-transform: rotate3d(0,0,1, attr(data-rotate deg));
			-o-transform: rotate3d(0,0,1, attr(data-rotate deg));
			-ms-transform: rotate3d(0,0,1, attr(data-rotate deg));
			-moz-transform: rotate3d(0,0,1, attr(data-rotate deg));
			transform: rotate3d(0,0,1, attr(data-rotate deg));
			*/
}
.index .wof .spinner.transition {
  -webkit-transition: 5s ease-out;
  -moz-transition: 5s ease-out;
  -o-transition: 5s ease-out;
  -ms-transition: 5s ease-out;
  transition: 5s ease-out;
}
.index .wof .spinner dl {
  position: relative;
  width: 500px;
  height: 500px;
  color: #fff;
  /*font-size: 1em;*/
  text-transform: uppercase;
  text-align: center;
}
.index .wof .spinner dl dt,
.index .wof .spinner dl dd {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.index .wof .spinner dl dt {
  padding-top: 30px;
}
.index .wof .spinner dl dt i {
  font-size: 4em;
  opacity: 0.9;
}
.index .wof .spinner dl dd {
  padding-top: 90px;
}
.index .wof .spinner dl dt:nth-of-type(1),
.index .wof .spinner dl dd:nth-of-type(1) {
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}
.index .wof .spinner dl dt:nth-of-type(2),
.index .wof .spinner dl dd:nth-of-type(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.index .wof .spinner dl dt:nth-of-type(3),
.index .wof .spinner dl dd:nth-of-type(3) {
  -webkit-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  transform: rotate(75deg);
}
.index .wof .spinner dl dt:nth-of-type(4),
.index .wof .spinner dl dd:nth-of-type(4) {
  -webkit-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  transform: rotate(105deg);
}
.index .wof .spinner dl dt:nth-of-type(5),
.index .wof .spinner dl dd:nth-of-type(5) {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.index .wof .spinner dl dt:nth-of-type(6),
.index .wof .spinner dl dd:nth-of-type(6) {
  -webkit-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
  transform: rotate(165deg);
}
.index .wof .spinner dl dt:nth-of-type(7),
.index .wof .spinner dl dd:nth-of-type(7) {
  -webkit-transform: rotate(195deg);
  -ms-transform: rotate(195deg);
  transform: rotate(195deg);
}
.index .wof .spinner dl dt:nth-of-type(8),
.index .wof .spinner dl dd:nth-of-type(8) {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.index .wof .spinner dl dt:nth-of-type(9),
.index .wof .spinner dl dd:nth-of-type(9) {
  -webkit-transform: rotate(255deg);
  -ms-transform: rotate(255deg);
  transform: rotate(255deg);
}
.index .wof .spinner dl dt:nth-of-type(10),
.index .wof .spinner dl dd:nth-of-type(10) {
  -webkit-transform: rotate(285deg);
  -ms-transform: rotate(285deg);
  transform: rotate(285deg);
}
.index .wof .spinner dl dt:nth-of-type(11),
.index .wof .spinner dl dd:nth-of-type(11) {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
.index .wof .spinner dl dt:nth-of-type(12),
.index .wof .spinner dl dd:nth-of-type(12) {
  -webkit-transform: rotate(345deg);
  -ms-transform: rotate(345deg);
  transform: rotate(345deg);
}
.index .wof .needle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -35px;
  padding: 2em 1em;
  border-radius: 50%;
  background: #eee;
  text-align: center;
  cursor: pointer;
  line-height: 1.1;
}
.index .wof .needle strong {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}
.index .wof .needle:before {
  position: absolute;
  left: 50%;
  bottom: 95%;
  content: " ";
  width: 0;
  height: 0;
  margin-left: -20px;
  border: solid 20px transparent;
  border-bottom-color: #eee;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scaleY(3);
  -ms-transform: scaleY(3);
  transform: scaleY(3);
  pointer-events: none;
}
@media screen and (max-width: 46.8em) {
  .index .main-content {
    width: 100%;
  }
  .index .wof {
    width: calc(100vw - 2em);
    height: calc(100vw - 2em);
    /* width: 100vw;
			height: 100vw; */
    min-height: 100%;
  }
  .index .wof .spinner {
    min-height: 100%;
  }
  .index .wof .spinner dl {
    width: 100%;
    height: 100%;
    padding: 1em;
    font-size: 3vw;
    /* width: 100vw;
					height: 100vw; */
  }
  .index .wof .spinner dl dd {
    padding-top: 17%;
  }
  .index .wof .spinner dl dt i {
    font-size: 10vw;
    line-height: .5;
  }
}
@media screen and (max-width: 30em) {
  .index .wof .spinner dl dt i {
    line-height: 0;
  }
}
